@import "./colors/colors.scss";
@import "./font/font.scss";
@import "./mixin/mixin.scss";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
}

.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header{
    background-color: $primary-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.btnNav{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}

.btn{
    gap: 30px;
    background-color: transparent;
    color: $btn-color;
    border: 2px solid transparent;
    cursor: pointer;
    transition: 0.6s;

    &:hover{
        border-bottom: 2px solid $btn-hover-color;
    }
}

.siteTitle{
    text-align: center;
    font-size: 25px;
    font-family: $main-font;
}

.siteDescription{
    text-align: center;
    font-family: $main-font;
}

        /* MAIN */
.content{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: "main aside";
    padding: 20px;
    flex: 1 0 auto;
}
        /* MAIN-CONTENT */
.mainContent{
    grid-area: main;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.card{
    @include card-contruction(2px solid transparent, 20px, 0.5s, pointer, 10px);
    width: 280px;
    height: 380px;
}

.card:hover{
    border: 2px solid $primary-color;
}

.imgCardFig{
    text-align: center;
}


        /* ASIDE */
.asideContent{
    grid-area: aside;
    display: flex;
    padding: 15px;
    flex-direction: column;
    align-items: center;
    background-color: $aside-background;
    color: #fafafa;
    border-radius: 10px;
    min-width: 300px;
    gap: 10px;
}

.asideCard{
    @include card-contruction(1px solid transparent, 20px, 0.5s, pointer, 5px);

    &:hover{
        border: 1px solid #fafafa;
    }
}

.asideDescription{
    text-align: center;
}

            /* FOOTER */

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $primary-color;
    color: #fafafa;
    padding: 12px;
}

.linkToTop{
    color: #fafafa;
    text-decoration: none;
}

/* Manipulação de imagens */
.logoHeader{
    width: 180px;
}

.mainCardImg{
    @include img-size(100%, 180px, 20px)
}

.asideImg{
    @include img-size(100%, 180px, 20px)
}

.footerLogo{
    width: 50px;
}

.wellcomeLogo{
    width: 20px;
}

@media(max-width:660px){
    .content{
        grid-template-areas: "main"
        "aside";
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .header{
        justify-content: center;
        gap: 20px;
        flex-wrap: wrap;
    }
}